<h1>{{ title() }}</h1>

<div class="container">
  @for (card of cardList(); track $index) {
    <div class="card" >
      <h2>{{ card.name }}</h2>
      <p>position: {{ card.position }}</p>
    </div>
  }
</div>

<!-- Modal -->
<!-- @if (selectedCard) {
  <div class="modal-backdrop">
    <div class="modal">
      <h2>Modifier position de {{ selectedCard.name }}</h2>
  
      <form [formGroup]="positionForm" (submit)="savePosition()" class="form">
        <label>Nouvelle position :</label>
        <input type="number" formControlName="position">
        @if (positionForm.controls['position'].invalid) {}
  
        <div class="buttons">
          <button type="submit" [disabled]="positionForm.invalid">Sauvegarder</button>
          <button type="button" (click)="closeModal()">Annuler</button>
        </div>
      </form>
    </div>
  </div>
} -->